* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: GenshinFont;
  src: url(HYWenHei-85W.otf);
}

html {
  scroll-behavior: smooth;
}

section {
  height: 100vh;
}

.container {
  display: flex;
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  height: 80px;
  display: flex;
}

ul {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  font-family: GenshinFont;
}

.blue {
  color: #4169e1;
}

.logo {
  width: 160px;
}

/***********
Link Effects 
***********/
.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect--white:after {
  background-color: #fff;
}

.link__hover-effect--coral:after {
  background-color: #6b5b95;
}

.link__hover-effect--RoseQuartz:after {
  background-color: #f7cac9;
}

.link__hover-effect--Serenity:after {
  background-color: #92a8d1;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

/************ 
pastel Colors 
************/
.Pastel1 {
  color: #7ec4cf;
}

.Pastel2 {
  color: #9cadce;
}

.Pastel3 {
  color: #d4afb9;
}

/*************
Navigation Bar
*************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
}

#personal-logo {
  width: 50px;
  height: 50px;
}

.nav__link--list {
  display: flex;
}

.nav__link {
  margin: 0 12px;
}

.nav__link--anchor {
  font-size: 16px;
  color: #242424;
  font-weight: 700;
}
/***** 
Header 
*****/
#landing-page {
  min-height: 100vh;
}

.header__container {
  display: flex;
  flex-direction: row;
  padding-top: 56px;
  padding-bottom: 56px;
  text-align: center;
}

.header__content {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-right: 24px;
}

.header__content h1,
span,
p {
  line-height: 1.7;
}

.title__h1 {
  font-size: 40px;
  font-weight: 900;
}

.title__h2 {
  font-size: 32px;
}

.title__para {
  font-size: 20px;
  font-weight: 700;
}

.header__logo--image {
  border-radius: 40px;
  box-shadow: 0px 0px 30px #000;
}

/*********
Search Bar 
*********/
.search__container {
  width: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: calc(100% / 4);
}

.search__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #ff8b88;
}
/*************
Sliding Image
*************/

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-top: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.mySlides {
  display: none;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*********
Animation
*********/
.title__h1 {
  animation: 3s slide-right 0.5s forwards;
  transform: translateX(-100%);
  opacity: 0;
}

.title__h2 {
  animation: 3s slide-left 1s forwards;
  transform: translateX(100%);
  opacity: 0;
}

.title__para {
  animation: 3s slide-top 1.5s forwards;
  transform: translateY(100%);
  opacity: 0;
}

@keyframes slide-right {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-left {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-top {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Results */
.results {
  display: flex;
  justify-content: center;

  color: #242424;
}

.genshins {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.genshin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 16px 16px;
  width: 100%;
  max-width: 250px;
  color: #242424;
}

.genshin:hover {
  box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
  transition: opacity 1s linear ease-in-out;
  opacity: 1;
  cursor:pointer;
}

.genshin__character {
  margin-bottom: 8px;
  text-align: center;
  font-size: 18px;
}

.genshin__element {
  font-size: 16px;
  margin-top: -8px;
}

/* Skeleton */
.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-image {
  width: 240px;
  height: 355px;
}

.skeleton-title {
  margin-top: 12px;
  width: 70%;
  height: 24px;
}

.skeleton-type {
  margin-top: 8px;
  width: 20%;
  height: 16px;
}

/*********
Button CSS
*********/
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  margin: 20px 0;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

/***********
Genshin INFO
***********/
.genshin__container {
  max-width: 1200px;
  margin: 32px 0;
  border: 20px solid cyan;
  animation: border-pulsate 2s infinite;
}

.genshin__information {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  color: #242424;
}
.genshin__img--wrapper {
  max-width: 400px;
}

.genshin__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 32px;
}

.genshin__description h2{
  font-size: 36px;
}

@keyframes border-pulsate {
  0%   { border-color: rgba(0, 255, 255, 1); }
  50%  { border-color: rgba(20, 228, 48); }
  100% { border-color: rgba(0, 255, 255, 1); }
}

/* Responsive */
/* Tablets */
@media (max-width: 768px) {
  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__content {
    width: 85%;
    padding: 0 0;
  }

  .header__content h1,
  span,
  p {
    line-height: 1.5;
  }

  .title__h1 {
    font-size: 40px;
    font-weight: 900;
  }

  .title__h2 {
    font-size: 32px;
  }

  .title__para {
    font-size: 20px;
    font-weight: 700;
  }

  .header__logo {
    width: 85%;
    margin-top: 30px;
  }

  /* Search */
  .search__container {
    width: 85%;
    margin: auto;
  }

  .search__title {
    text-align: center;
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  /* HEADER */
  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__content {
    width: 70%;
    padding: 0 0;
  }

  .header__content h1,
  span,
  p {
    line-height: 1.5;
  }

  .title__h1 {
    font-size: 24px;
    font-weight: 900;
  }

  .title__h2 {
    font-size: 20px;
  }

  .title__para {
    font-size: 14px;
    font-weight: 700;
  }

  .header__logo {
    width: 70%;
    margin-top: 30px;
  }

  /* Search */
  .search__container {
    width: 70%;
    margin: auto;
  }

  .search__title {
    text-align: center;
    font-size: 16px;
  }

  .nav__link--anchor {
    font-size: 14px;
  }
}

/* Smart Phones */
@media (max-width: 320px) {
  /* HEADER */
  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__content {
    width: 70%;
    padding: 0 0;
  }

  .header__content h1,
  span,
  p {
    line-height: 1.5;
  }

  .title__h1 {
    font-size: 24px;
    font-weight: 900;
  }

  .title__h2 {
    font-size: 20px;
  }

  .title__para {
    font-size: 14px;
    font-weight: 700;
  }

  .header__logo {
    width: 70%;
    margin-top: 30px;
  }

  /* Search */
  .search__container {
    width: 70%;
    margin: auto;
  }

  .search__title {
    text-align: center;
    font-size: 9px;
  }

  .nav__link {
    margin: 0 8px;
  }

  .nav__link--anchor {
    font-size: 9px;
  }
}

/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="url"] {
    font-size: 16px;
  }
}
